<!-- 
<form 
  method="POST" 
  action="YOUR_WEBAPP_URL"
>
  <input name="Email" type="email" placeholder="Email" required>
  <input name="Name" type="text" placeholder="Name" required>
  <button type="submit">Send</button>
</form> -->

<form accept-charset="UTF-8" action="https://script.google.com/macros/s/AKfycbz2gEy0Cbnvogn5mvGhdPbG6QDlX9a1gVz0wBfOOotXEUr4Q4CFmp1PQhAyqkJMTp1J/exec" method="POST" enctype="multipart/form-data" target="_blank">
    <div class="form-group">
        <label for="InputName" required="required"> Name</label>
        <input type="text" name="Name" class="form-control" id="InputName" placeholder="Enter your name and surname" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="InputEmail1" required="required"> Email address</label>
        <input type="email" name="Email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="TeamName" required="required"> Team Name</label>
        <input type="text" name="Team name" class="form-control" id="TeamName" placeholder="Enter your team name" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="UniName" required="required"> Organization/University</label>
        <input type="text" name="Organization/University" class="form-control" id="UniName" placeholder="Enter your Organization/University" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="Country" required="required"> Country of work</label>
        <input type="text" name="Country" class="form-control" id="Country" placeholder="Enter your Country of work" required="required">
    </div>
    <br>
    <hr>
    <div class="form-group">
        <label for="TermsAndCond" required="required"> I understand my email address will be used for communication purposes by the organizing committee.</a></label>
        <input type="checkbox" name="termsandcond" id="TermsAndCond" required="required">
    </div>
    <hr>
    <div class="form-group">
        <label for="dataagr" required="required"> I understand that I will only use the datasets for this challenge and will not share it or use it for other purposes.</a></label>
        <input type="checkbox" name="data" id="dataagr" required="required">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="_gotcha" style="display:none !important">
  </form>